script(src='/javascripts/entry_script.js')
link(rel='stylesheet' href='/stylesheets/entry_style.css')
div#up
    div#container
        p Domowa biblioteka płyt CD
        button.btn#enter_button(type="button") Wejdź